doctype html5
html
	head
		title= title
		link(rel='stylesheet', href='/lib/dist/css/bootstrap.css')
		link(rel='stylesheet', href ='/lib/dist/css/bootstrap-theme.css')
		script(type='text/javascript' src = '/lib/jquery/jquery-1.11.0.min.js')
		script(type='text/javascript' src='/lib/dist/js/bootstrap.js')
		script(type='text/javascript' src='/lib/angular.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		block content